.clicked {
  animation: clicked .25s ease-in-out;
}

@keyframes clicked {
  0% {
    opacity: .9;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}

.black {
  background: rgba(0,0,0,.9);
}
